<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:component-scan base-package="com.springbook.biz"></context:component-scan>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<!-- DataSource 설정 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.basicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.h2.Driver"></property>
		<property name="url" value="jdbc:h2:tcp://localhost/~/test"></property>
		<property name="username" value="sa"></property>
		<property name="password" value=""></property>
	</bean>
	
<!-- 	<bean id="userDAO" class="com.springbook.biz.user.impl.UserDAO"></bean>
	<bean id="userService" class="com.springbook.biz.user.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO"></property>
	</bean> -->
	
	<bean id="log" class="com.springbook.biz.common.LogAdvice"></bean>
	<aop:config>
		<aop:pointcut expression="execution(* com.springbook.biz..*Impl.*(..))" id="allPointcut"/>
		<aop:pointcut expression="execution(* com.springbook.biz..*Impl.get*(..))" id="getPointcut"/>

		<aop:aspect ref="log">
			<aop:before pointcut-ref="getPointcut" method="printLog"/>
		</aop:aspect>
	</aop:config>
	
	<bean id="around" class="com.springbook.biz.common.AroundAdvice"></bean>
	<aop:config>
		<aop:pointcut expression="execution(* com.springbook.biz..*Impl.*(..))" id="allPointcut"/>		
		<aop:aspect ref="around">
			<aop:around pointcut-ref="allPointcut" method="aroundLog"/>
		</aop:aspect>
	</aop:config>
	
 	<bean id="afterReturning" class="com.springbook.biz.common.AfterReturning"></bean>
	<aop:config>
<!-- 		<aop:pointcut expression="execution(* com.springbook.biz..*Impl.get*(..))" id="getPointcut"/>
 -->		
		<aop:aspect ref="afterReturning">
			<aop:after-returning method="afterLog" pointcut-ref="getPointcut" returning="returnObj"/>
		</aop:aspect>
	</aop:config> 
	
 	<bean id="afterThowing" class="com.springbook.biz.common.AfterThrowingAdvice"></bean>
	<aop:config>
		<aop:aspect ref="afterThowing">
			<aop:after-throwing method="exceptionLog" pointcut-ref="allPointcut" throwing="exceptObj"/>
		</aop:aspect>
	</aop:config> 
	
</beans>
